## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
result = 7**4
print(result)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s = "Hi there Sam!"
ras_list = s.split()
print(ras_list)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [15]:
planet = "Earth"
diameter = 12742

In [16]:
planet = " Earth "
diameter = 12742

rass = f"The {planet} has a diameter of {diameter} kilometers."

print(rass)

The  Earth  has a diameter of 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

rra = lst[3][1][2][0]
print(rra)

hello

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will

*   List item

*   List item
*   List item


*   List item

be annoying/tricky **

In [1]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

hello = d['k1'][3]['tricky'][3]['target'][3]
print(hello)

hello

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable

#Tuple: Tuples are immutable, which means once you create a tuple, you cannot change its content. Tuples are fixed in size, and you cannot add, remove, or modify elements in a tuple.
# List: Lists are mutable, which means you can add, remove, or change elements in a list after it's created. You can modify the content of a list

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [20]:
domainGet= ('user@domain.com')

def domainGet(email):
    parts = email.split("@")

    if len(parts) == 2:
        return parts[1]
    else:
        return None

email = "user@domain.com"
domain = domainGet(email)
if domain:
    print("Email domain:", domain)
else:
    print("Invalid email format")

Email domain: domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [4]:
findDog = ('Is there a dog here?')

def rr_dog(input_ss):
  return 'dog' in input_ss.lower()
input_ss = "I have  a Dog at home."
if rr_dog(input_ss):
  print("Ture")
else:
  print("false")

Ture

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [1]:
def countDog(input_string):
    # Convert the input string to lowercase and count the occurrences of 'dog'
    return input_string.lower().count('dog')

# Example usage
input_string = 'This dog runs faster than the other dog dude!'
count = countDog(input_string)
print("The word 'dog' appears", count, "times in the input string.")

The word 'dog' appears 2 times in the input string.

In [ ]:
countDog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [5]:
seq = ['soup','dog','salad','cat','great']

ll_rr = list(filter(lambda rr: rr[0] == 's', seq))
print(ll_rr)

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket".
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all
  cases. **

In [2]:
def caught_speeding(speed, is_birthday):
    no_ticket_limit = 60 if not is_birthday else 65
    small_ticket_limit = 80 if not is_birthday else 85
    if speed <= no_ticket_limit:
        return "No Ticket"
    elif no_ticket_limit < speed <= small_ticket_limit:
        return "Small Ticket"
    else:
        return "Big Ticket"
speed = 70
is_birthday = False
result = caught_speeding(speed, is_birthday)
print("Result:", result)

Result: Small Ticket

In [ ]:
caught_speeding(81,True

'Small Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

# Great job!